/* style.css */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  background-color: #000000;
  color: #ffffff;
}

#game-container {
  width: 75%;
  margin: 20px auto;
  padding: 20px;
  background-color: #000000;
}

#story {
  margin-top: 30px;
  color: #ffffff;
  white-space: pre-wrap;
  min-height: 100px;
}

#choices {
  margin-top: 400px;
}

#choices button {
  display: block;
  margin: 10px 0;
  background-color: transparent;
  border: 1px solid #00ff00;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#choices button:hover {
  background-color: #00ff00;
  color: #000000;
}

#story::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: #00ff00;
  margin-left: 5px;
  animation: blink 1s step-start 0s infinite;
}

@keyframes flashScreen {
  0% {
    background-color: #000000;
  }
  20% {
    background-color: #f92525;
  }
  100% {
    background-color: #f92525;
  }
}

.flash {
  animation: flashScreen 3s;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.no-cursor::after {
  display: none;
}
